<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBLink" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Volodymyr_Petrash\Practice\EventCatcher\NewEvent\EventData.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>